<h1>Todas as vagas de <%= current_user.company.name %>:</h1>

<ul>
  <% @vacancies.each do |vacancy| %>
    <li>
      <%= vacancy.name %>
      <%= vacancy.job_title %>
      <%= vacancy.expiration_date %>
      <%= vacancy.max_vacancies %>
    </li>
  <% end %>
</ul>