<% if flash[:sign_job_notice] %>
  <%= flash[:sign_job_notice] %>
<% end %>
<% if flash[:edit_account_notice] %>
  <%= flash[:edit_account_notice] %>
<% end %>

<h1> <%= link_to @company.name, company_path(@company)  %> </h1>
<h2> <%= @vacancy.name %> </h2>
<p> Descrição: <%= @vacancy.description %> </p>
<p> Faixa Salarial: <%= @vacancy.salary %> </p>
<p> Experiência: <%= @vacancy.job_title %> </p>
<p> Requisitos: <%= @vacancy.mandatory_requirements %> </p>

<% if user_signed_in? %>
  <% if current_user.email.include?('gmail') == false && current_user.email.include?('hotmail') == false %>
    <%= link_to 'Voltar', vacancies_path %>
  <% else %>
    <%= link_to 'Voltar', root_path  %>
  <% end %>
<% else %>
  <%= link_to 'Voltar', root_path  %>
<% end %>

<% if user_signed_in? %>
  <% unless current_user.email.include?('gmail') == false && current_user.email.include?('hotmail') == false %>
    <%= link_to 'Aplicar', apply_vacancy_path(@vacancy), method: :post%>
  <% end %>
<% else %>
  <%= link_to 'Aplicar', apply_vacancy_path(@vacancy), method: :post%>
<% end %>

<% if user_signed_in? %>
  <% if current_user.email.include?('gmail') == false && current_user.email.include?('hotmail') == false %>
    <br>
    <br>
    <div>
      <% @vacancy.users.map do |candidates|  %>
        <%= candidates.email %>
        <%= candidates.account.name %>
        <%= link_to 'Aprovar', banana_path %>
      <% end %>
    </div>
  <% end %>
<% end %>
